@import "partials/_flexboxgrid.min.scss";
@import "partials/_colors.scss";
@import "partials/_typography.scss";

.editor-styles-wrapper {
	font-family: 'Rajdhani', sans-serif!important;
	padding: 20px!important;
	.wp-block, .container {
		width: auto!important;
	}
	.wp-block {
		max-width: none !important;
		padding: 0 1em!important;
	}
	.editor-writing-flow {
		margin: 0 !important;
		max-width: none !important;
	}
	.dark, .acf-icon.dark {
		color: #fff!important;
	}
	.radioMarginPadding ul {
		margin-left: 0;
		padding-left: 0;
	}
}
.components-resizable-box__container.has-show-handle {
	width: 100%!important;
}

.interface-interface-skeleton__content.interface-interface-skeleton__content {
	display: block;
}
@media (min-width: 782px) {
	.interface-interface-skeleton__sidebar .interface-complementary-area {
	    width: 500px!important;
	}
}
@media (min-width: 1920px) {
	.block-editor-page .interface-interface-skeleton__content {
		max-width: 70%!important;
	}
	.block-editor-page .interface-interface-skeleton__sidebar {
		max-width: 30%!important;
		width: 100%!important;
	}
}