.cardContainer.whiteBg, whiteBg {
	background-color: #fff;
}
.col .col {
	padding-bottom: 0;
}
.cardGrid .row, .cardGrid .row .col, .cardGrid .row .col .colInner {
	height: 100%;
}
.cardGrid h2 {
	margin-bottom: 0;
	color: #000;
	transition: 0.25s ease-in-out;
}
.cardGrid h2:hover {
	transition: 0.25s ease-in-out;
	color: $brandBlue;
}
.cardGrid .colInner {
	display: flex;
	flex-direction: column;
}
.cardGrid .colInner p:last-of-type {
	margin-top: auto;
}