.cardContainer.whiteBg, whiteBg {
	background-color: #fff;
}
.col .col {
	padding-bottom: 0;
}
.cardGrid .row, .cardGrid .row .col, .cardGrid .row .col .colInner {
	height: 100%;
}
.cardGrid h2 {
	margin-bottom: 0;
	color: #000;
	transition: 0.25s ease-in-out;
}
.cardGrid h2:hover {
	transition: 0.25s ease-in-out;
	color: $brandBlue;
}
.cardGrid .colInner, .cardContent .colInner, .cardContainer, .displayFlex {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.cardGrid .readMore, .cardContent .readMore {
	margin-top: auto;
}
.cardGrid .colInner p:last-of-type, .cardContent {
	display: flex;
	height: 100%;
	flex-direction: column;
}
.cardGrid .colInner p:last-of-type a.readMore {
	margin-top: auto;
}
.innerCardContainer {
	box-shadow: 0 0 10px #d9d9d9;
}

// NEWS AND EVENTS CARD STYLES
.news-and-events .cardGrid h5 {
	margin: 10px 0 20px;
}

.news-and-events .display-medium-item {
	flex-direction: column;
}
.news-and-events #display-medium-owl-demo .medium-image {
	height: 200px;
}
@media (min-width: 64em) {
	.news-and-events .evenbriteEvents ul {
		margin-left: -.5rem!important;
		margin-right: -.5rem!important;
	}
	.news-and-events .evenbriteEvents ul > li {
		padding-right: .5rem!important;
		padding-left: .5rem!important;
		flex-basis: 50%!important;
		max-width: 50%!important;
	}
}