.cta {
	//background: radial-gradient(circle at bottom left, #818181, #424242);
	background-color: #424242;
	padding: 6em;
	position: relative;
	overflow: hidden;
}
.cta h2 {
	max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}
/*
.cta::before {
	position: absolute;
	content: "";
	width: 250px;
	height: 500px;
	position: absolute;
	z-index: 1;
	background-repeat: no-repeat;
	opacity: .5;
	top: 100%;
	margin-top: -250px;
	background-image: ;
}
*/