.cardContainer {
	box-shadow: 0 0 10px #d9d9d9;
	background-color: $brandLightGrey;
}
.feedGrid .cardContainer {
	box-shadow: 0 0 10px #999;
}
.offsetBg {
	position: absolute;
	background-image: url(../img/textures/just-waves-blue.png);
	height: 65%;
	width: 100%;
	left: 0;
	top: 0;
}

.owl-controls {
	display: none!important;
}
.owl-carousel .owl-item {
	float: none;
}