footer {
	background: url(../img/osp-brand-icon.svg) no-repeat bottom right scroll;
}
footer.section {
	padding-bottom: 0;
}
.credits {
	padding-top: 4em;
}
.credits p, .copyRightLink {
	font-size: 13px;
}
.copyRightLink {
	text-decoration: underline;
}