.display-medium-subtitle {
	display: none;
}
.display-medium-title {
	font-size: 20px;
	font-weight: 600;
}
#display-medium-owl-demo .details-title {
	border-bottom: 0;
}
.display-medium-item {
	display: flex;
	//flex-wrap: wrap;
	box-shadow: 0 0 10px #d9d9d9;
	height: 100%;
}
.display-medium-item a {
	flex: 0 0 34%;
}
.mediumContent {
	flex: 0 0 66%;
}
#display-medium-owl-demo .medium-image {
	height: 100%;
}
.mediumContent {
	padding: 1.5em;
	display: flex;
	flex-direction: column;
}
.owl-carousel .owl-wrapper-outer {
	overflow: visible;
}
.owl-wrapper {
	display: flex!important;
	//width: 1500px!important;
	width: auto!important;
	flex-wrap: wrap;
	//justify-content: center;
	margin-left: -10px;
	margin-right: -10px;
}
.owl-item {
	flex: 0 0 33.333%!important;
	width: auto!important;
	max-width: 33.333%;
}
.display-medium-date span {
	display: none;
}
.display-medium-date-read ~ p {
	margin-top: auto;
}

/*
#insightsAndStories .innerContainer {
	margin-right: 0;
	padding-right: 0;
}
*/