.widget_recent_entries h3 {
	display: none;
}
.sidebar .cardGrid .col {
	flex-basis: 100%;
	max-width: 100%;
}
.sidebar .cardGrid .colInner {
	box-shadow: none;
}
.sidebar .row.gutterSpaceWide > .col {
	padding-bottom: 0;
}