.widget_recent_entries h3 {
	display: none;
}
.sidebar .cardGrid .col {
	flex-basis: 100%;
	max-width: 100%;
}
.sidebar .cardGrid .colInner {
	box-shadow: none;
	padding: 0;
}
.sidebar a > h4 {
	transition: 0.25s ease-in-out;
	margin-bottom: 0;
}
.sidebar a > h4:hover {
	transition: 0.25s ease-in-out;
	color: $brandBlue;
}
.cardGrid h5 {
	margin: 10px 0;
}
.cardGrid h4 {
	margin: 0 0 10px;
}