.widget_recent_entries h3 {
	display: none;
}
.sidebar .cardGrid .col {
	flex-basis: 100%;
	max-width: 100%;
}
.sidebar .cardGrid .col .colInner {
	box-shadow: none;
	padding: 0 0 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #e9e9e9;
}
.sidebar .row.gutterSpaceWide > .col {
	padding-bottom: 0;
}
.sidebar .cardGrid .col:last-of-type .colInner {
	padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.sidebar a > h4 {
	transition: 0.25s ease-in-out;
	margin-bottom: 0;
}
.sidebar a > h4:hover {
	transition: 0.25s ease-in-out;
	color: $brandBlue;
}
.cardGrid h5 {
	margin: 10px 0;
}
.cardGrid h4 {
	margin: 0 0 10px;
}
.sidebar .cardGrid h5 {
    margin: 10px 0 0;
}
.sidebar .cardGrid h4 {
    margin: 15px 0;
}