// FLEXBOX
@import "_flexboxgrid.min.scss";

* {
	box-sizing: border-box;
}

.innerContainer {
	padding: 0 2em;
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;
}
.angledTopdBottom .innerContainer {
	padding-top: 10em;
	padding-bottom: 10em;
}
.innerContainer.w1080 {
	max-width: 1080px;
}
.narrow_flushLeft {
	max-width: 850px;
}
.w1440, .innerContainer.w1440 {
	max-width: 1440px;
	margin-right: auto;
	margin-left: auto;
}

.w800 {
	max-width: 800px;
}

.floatRight {
	float: right;
}
.clearfix::after {
	clear: both;
	display: table;
	content: "";
}

// SECTION
.section {
	padding: 6em 0;
	position: relative;
}

.container {
		overflow: hidden;
		position: relative;
		max-width: 1600px;
	}

.section.noBottomPadding, .noBottomPadding {
	padding-bottom: 0;
}

.section.darkGreyBg, .darkGreyBg {
	background-color: $brandGrey;
}

.col {
	padding-bottom: 1rem;
}
.topPadding {
	padding-top: 6em;
}
.topPadding4 {
	padding-top: 4em;
}
.section4 {
	padding-bottom: 4em;
	padding-top: 4em;
}
.section3 {
	padding-bottom: 3em;
	padding-top: 3em;
}
.bottomPadding {
	padding-bottom: 6em;
}

.topPadding25 {
	padding-top: 25px;
}

.bottomPadding25 {
	padding-bottom: 25px;
}

.topBottomPadding25 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.topMargin25 {
	margin-top: 25px;
}

.bottomMargin25 {
	margin-bottom: 25px;
}

.topBottomMargin25 {
	margin-top: 25px;
	margin-bottom: 25px;
}

.topMargin50 {
	margin-top: 50px;
}

.bottomMargin50 {
	margin-bottom: 50px;
}

.positionRelative {
	position: relative;
	z-index: 1;
}

.topBottomMargin50 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.topBottomPadding {
	padding-bottom: 6em;
	padding-top: 6em;
}

.contentWrap {
	margin-top: 154px;
	//max-width: 1600px;
    //margin-right: auto;
    //margin-left: auto;
}
.para-block-wrap {
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 2em;
	padding-left: 2em;
	margin-bottom: 1em;
}
.innerContainer ~ .para-block-wrap:nth-last-of-type(2n) {
	margin-top: 50px;
}
.w1080 ~ .para-block-wrap {
	max-width: 1080px;
}

// GUTTERS
.row.gutterSpaceWide {
	margin-right: -1.5rem;
	margin-left: -1.5rem;
}
.row.gutterSpaceWide > .col {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-bottom: 3rem;
}
.row.gutterSpaceWider {
	margin-right: -2.5rem;
	margin-left: -2.5rem;
}
.row.gutterSpaceWider > .col {
	padding-right: 2.5rem;
	padding-left: 2.5rem;
	padding-bottom: 5rem;
}
.col .row.gutterSpaceDefault > .col {
	padding-bottom: 1rem;
}

.page-template-page-sidebar .contentWrap .content-section > .innerContainer, .page-template-page-sidebar .contentWrap .content-section ~ section > .innerContainer {
	padding-left: 0;
	padding-right: 0;
}

.nolColBottomPadding > .col {
	padding-bottom: 0;
}
.row.noGutter {
	margin-left: 0;
	margin-right: 0;
}
.row.noGutter > .col {
	padding-left: 0;
	padding-right: 0;
}

.radarRight, .radarLeft {
	//background: url(../img/textures/sonar.svg);
    width: 250px;
    height: 500px;
    position: absolute;
    z-index: 1;
    //background-repeat: no-repeat;
    opacity: .5;
	top: 100%;
	margin-top: -250px;
}
.radarLeft {
	left: 0;
	transform: rotate(180deg);
}
.radarRight {
	right: 0;
}

.waveTexture {
	background: url(../img/textures/just-waves-grey.png);
}

.overflowHidden {
	overflow: hidden;
}

.colInner {
	position: relative;
	padding: 2em;
}

// FAQs
.faqs {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.faqs::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 25, .5);
	content: "";
}

.angledTopdBottom::before {
	position: absolute;
	background-image: url(../img/angled-bg-slope-top.svg);
	content: "";
	height: 100%;
	width: 100%;
	top: -1px;
	left: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}
.angledTopdBottom::after {
	position: absolute;
	background-image: url(../img/angled-bg-slope-bottom.svg);
	content: "";
	height: 100%;
	width: 100%;
	bottom: -1px;
	left: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}
.section {
	background-color: #fff;
}

.lightGreyBg {
	background-color: $brandLightGrey;
}

// OFFSET LAYOUT
.offsetLayout {
	max-width: 1600px;
    margin: auto;
}
.offsetLayout .innerContainer.innerContainerOffset.left, .innerContainer.innerContainerOffset.right {
	max-width: 1600px;
	padding-left: 0;
	padding-right: 0;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    padding-right: 0;
}
.offsetLayout .innerContainer.innerContainerOffset.left {
	background-position: left;
}
.offsetLayout .innerContainer.innerContainerOffset.right {
	background-position: right;
}
.offsetLayout .innerContainerOffset::before, .innerContainerOffset.right::before {
	height: 100%;
    width: 30%;
    background-color: #fff;
    position: absolute;
	content: "";
    top: 0;
}
.offsetLayout .innerContainerOffset.left::before {
	right: 0;
}
.offsetLayout .innerContainerOffset.right::before {
	left: 0;
}
.offsetLayout .innerContainer.innerContainerOffset.right {
	background-position: right;
}
.offsetLayout .innerContainerOffset .row {
	max-width: 1080px;
    margin-left: auto;
    margin-right: auto;;
}
.offsetLayout .col.offsetContentContainer {
	background-color: #fff;
}
.offsetLayout .right .col.offsetContentContainer {
	padding: 3em 3em 3em 2em!important;
}
.offsetLayout .left .col.offsetContentContainer {
	padding: 3em 2em 3em 3em!important;
}
.offsetLayout .innerContainerOffset .offsetImageContainer {
	display: none;
}
.offsetLayout .innerContainerOffset > .innerContainer {
	padding-left: 0;
	padding-right: 0;
}

//  SIDEBAR
.sidebar.fixed {
	position: fixed;
	top: 0;
}

// SEARCH
.search article {
	padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #c9c9c9;
}
.search article:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

// SECTION
section {
	background-color: #fff;
	position: relative;
}
section.credits {
	background-color: transparent;
}
/*
.innerPadding {
	padding-left: 2em;
	padding-right: 2em;
}
*/

.para-block-wrap:last-of-type {
	margin-bottom: 0;
}