#yrc-shell-0 .yrc-item-title {
	margin-top: 10px;
	white-space: unset!important;
    text-overflow: unset!important;
}

#yrc-shell-0 .yrc-pagination, 
#yrc-shell-0 .yrc-video-date,
.news-and-events #yrc-shell-0 .yrc-video {
	display: none;
}
.news-and-events #yrc-shell-0 .yrc-video:nth-of-type(1),
.news-and-events #yrc-shell-0 .yrc-video:nth-of-type(2),
.news-and-events #yrc-shell-0 .yrc-video:nth-of-type(3) {
	display: inline-block;
}
#yrc-shell-0 .yrc-item-title {
	white-space: unset;
    text-overflow: unset;
}
#yrc-shell-0 .yrc-core {
	text-align: left;
}