/*
// BLOCKQUOTE
.wp-block blockquote {
	padding-left: 4em;
	margin-right: 0;
	margin-bottom: 2em;
    position: relative;
	color: #666;
	font-family: 'Libre Franklin', sans-serif!important;
}
.editor-styles-wrapper .blockQuoteAuthor {
	font-size: 19px;
	line-height: 1.5em;
    display: block;
}
.editor-styles-wrapper blockquote::before {
	content: "\f10d";
	content: "\201C";
	position: absolute;
	left: 0;
	top: -20px;
	font-size: 100px;
}
.editor-styles-wrapper blockquote p {
	font-size: 24px!important;
	font-style: italic!important;
	font-weight: 600!important;
}

.components-resizable-box__container {
	width: 100%!important;
	height: auto!important;
}

@media (min-width: 782px) {
	.interface-interface-skeleton__sidebar .interface-complementary-area {
	    width: 300px!important;
	}
}
*/
body {
	font-family: 'Libre Franklin', sans-serif;
}
h1, h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 40px;
	line-height: 1em;
}
blockquote {
	padding-left: 4em;
	margin-right: 0;
	margin-bottom: 2em;
    position: relative;
	color: #666;
	font-family: 'Libre Franklin', sans-serif;
}
blockquote p {
	font-size: 24px;
	font-weight: 666;
	font-style: italic;
}
blockquote::before {
	content: "\f10d";
	content: "\201C";
	position: absolute;
	left: 0;
	top: -28px;
	font-size: 100px;
}
.blockQuoteAuthor {
	font-size: 19px;
	line-height: 1.5em;
    display: block;
}
.components-resizable-box__container {
	width: 100%!important;
	height: auto!important;
}
@media (min-width: 782px) {
	.interface-interface-skeleton__sidebar .interface-complementary-area {
	    width: 300px!important;
	}
}