// colours
$brandOrange: #e8ad23;
$brandBlue: #38C3E1;
$brandLightGrey: #f5f5f5;
$brandGrey: #424242;

@import "_normalize.min.scss";

// HERO
@import "_hero.scss";

// MAP
@import "_map.scss";

// FORMS
@import "_form.scss";

// CARDS
@import "_cards.scss";

// VIDEOS
@import "_videos.scss";

// EVENBRITE EVENTS
@import "_eventbrite.scss";

// ACCORDION
@import "_accordion.scss";

// FEED GRID
@import "_feed.scss";

// MEDIUM STYLES
@import "_medium.scss";

// TESTIMONIALS
@import "_quote.scss";

// CTA
@import "_cta.scss";

// CSS GRID
@import "_grid.scss";

// CAROUSEL
@import "_carousel.scss";

// SLICK STYLES
@import "_slick.scss";

// HAMBURGER
@import "_hamburgers.scss";

// TYPOGRAPHY
@import "_typography.scss";

// STRUCTURE
@import "_structure.scss";

// NAV
@import "_nav.scss";

// BUTTONS
@import "_buttons.scss";

// IMAGES
@import "_images.scss";

// BUCKETS
@import "_buckets.scss";

// FOOTER
@import "_footer.scss";

// MEDIA QUERIES
@import "_media-queries.scss";