footer {
  background: url(../img/osp-brand-icon.svg) no-repeat bottom right scroll;
  transition: 0.5s ease-in-out;
}
footer.section {
  padding-bottom: 0;
  background-color: #f0f6ff;
}
.credits {
  padding-top: 4em;
}
.credits p,
.copyRightLink {
  font-size: 13px;
}
.copyRightLink {
  text-decoration: underline;
}

.credits .row {
  width: calc(100% + 2em);
}
