.gridContainer {
	display: grid;
	padding-left: 2em;
	padding-right: 2em;
}
.headerGrid {
	grid-template-columns: 1fr 3fr;
    grid-template-areas: logo navigation;
}
.w1280 {
	max-width: 1280px;
    margin: auto;
}
.gridItem.itemLogo {
    grid-area: logo;
    grid-column-start: 1;
    grid-column: 1 / 2;
}
.gridItem.itemNav {
    grid-area: navigation;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.gridItem {
	position: relative;
}
.heroContent {
	grid-template-columns: 1fr 45% 45%;
}

.extra-col-spacing {
    margin-bottom: 30px;
}

.bottom-border {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 30px;
}

.feat-img--list {
    max-width: 300px;
}
.stacked {
    max-width: 150px;
}

.content-loop h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.button.external-link {
    margin-top: auto;
    align-self: flex-start;
}

.button-top-margin .button.external-link {
    margin-top: 15px;
}

.boxed p:last-of-type {
    margin-bottom: 15px;
} 

.icon.row {
    margin-left: auto;
    margin-right: auto;
}

.logo-container {
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.logo-container > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: left;
    max-width: 85%;
}
.centred-logo > img {
    object-position: center;
}
.right-aligned-logo > img {
    object-position: right;
}
.logo-container--inline > img {
    object-position: center;
}

.innerContainer.w800 {
    max-width: calc(800px + 4em);
}

h1 ~ .archive_grid,
h2 ~ .archive_grid,
h3 ~ .archive_grid,
h4 ~ .archive_grid,
h5 ~ .archive_grid,
h6 ~ .archive_grid {
    margin-top: 50px;
}

.three_col, .four_col {
    .testimonialContainerInner {
        padding: 1.5em;
    }
    .quoteContent {
        margin-bottom: 15px;
    }
}

.has-max-width {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px) {
    .reverse-odd-rows > .col:nth-child(odd) .row {
        flex-flow: row-reverse;
    }

    .reverse-odd-rows > .col:nth-child(odd) .gutter_space_wide > .no_padding_left {
        padding-right: 0;
    }

    /*
    .reverse-odd-rows > .col:nth-child(odd) .gutter_space_wide > .no_padding_left > .testimonialLogoContainer {
        padding-left: calc(2em + 1rem);
    }
    */
    
    .reverse-odd-rows > .col:nth-child(odd) .row.gutter_space_wide > .col {
        padding-left: 1rem;
        padding-right: 0;
    }
}