.trp_language_switcher_shortcode {
  margin-right: 50px;
}

.trp-language-switcher.trp-language-switcher > div {
  background-color: $brandBlue;
  border: none;
  a {
    color: #fff;
  }
}

.scroll .trp-language-switcher.trp-language-switcher > div {
  background-color: #fff;
  a {
    color: #000;
  }
}

.trp-language-switcher > div > a.trp-ls-shortcode-disabled-language {
  cursor: pointer;
}

.translatepress-en_CA .list-builder-button.list-builder-button {
  right: -22px;
}

.translatepress-fr_CA .list-builder-button.list-builder-button {
  right: -43px;
}
